.clients {
  padding: 30px 15px;
  background: inherit;
}

/* .clients__wrapper {} */

.clients__title {
  display: none;
}

.clients__brands {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* .clients__brand {} */

/* .clients__brand img {} */


    <section class="clients" id="clients">
      <div class="cashback__wrapper">
        <ul class="clients__brands">
          <!-- Brand 1 -->
          <li class="clients__brand">
            <img src="./assets/brands/1.svg" alt="Brand 1">
          </li>
          <!-- Brand 2 -->
          <li class="clients__brand">
            <img src="./assets/brands/2.svg" alt="Brand 2">
          </li>
          <!-- Brand 3 -->
          <li class="clients__brand">
            <img src="./assets/brands/3.svg" alt="Brand 3">
          </li>
          <!-- Brand 4 -->
          <li class="clients__brand">
            <img src="./assets/brands/4.svg" alt="Brand 4">
          </li>
          <!-- Brand 5 -->
          <li class="clients__brand">
            <img src="./assets/brands/5.svg" alt="Brand 5">
          </li>
          <!-- Brand 6 -->
          <li class="clients__brand">
            <img src="./assets/brands/6.svg" alt="Brand 6">
          </li>
          <!-- Brand 7 -->
          <li class="clients__brand">
            <img src="./assets/brands/7.svg" alt="Brand 7">
          </li>
          <!-- Brand 8 -->
          <li class="clients__brand">
            <img src="./assets/brands/8.svg" alt="Brand 8">
          </li>
        </ul>
      </div>
    </section>