/* download */

@import 'vars';

.download {
  padding: 30px 15px;

  @media (min-width: $breakpoint-lg) {
    padding: 60px 50px;
  }
}

.download__wrapper {

  @media (min-width: $breakpoint-md) {
    display: flex;
    gap: 30px;
    width: 690px;
    margin: 0 auto;
  }

  @media (min-width: $breakpoint-lg) {
    display: flex;
    gap: 40px;
    width: 930px;
    margin: 0 auto;
  }

  @media (min-width: $breakpoint-xl) {
    display: flex;
    gap: 110px;
    width: 1110px;
    margin: 0 auto;
  }

}

.download__text-block {

  @media (min-width: $breakpoint-md) {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: $breakpoint-lg) {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: $breakpoint-xl) {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
}

.download__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;

  @media (min-width: $breakpoint-md) {
    font-size: 36px;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 42px;
    line-height: 50px;
  }

  @media (min-width: $breakpoint-xl) {
    font-size: 50px;
    line-height: 60px;
  }
}

.download__copy {
  margin-top: 10px;
  line-height: 20px;

  @media (min-width: $breakpoint-md) {
    font-size: 16px;
    line-height: 25px;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 18px;
    line-height: 25px;
  }

  @media (min-width: $breakpoint-xl) {
    padding-top: 15px;
    font-size: 20px;
    line-height: 30px;
  }
}

.download__links {
  margin-top: 20px;

  @media (min-width: $breakpoint-md) {
    display: flex;
  }

  @media (min-width: $breakpoint-lg) {
    display: flex;
  }
}

.download__link {
  display: block;
  width: 150px;
  height: 44px;
}

.download__link:last-child {
  margin-top: 15px;

  @media (min-width: $breakpoint-md) {
    margin-top: 0;
    margin-left: 20px;
  }

  @media (min-width: $breakpoint-lg) {
    margin-top: 0;
    margin-left: 20px;
  }

  @media (min-width: $breakpoint-xl) {
    margin-top: 0;
    margin-left: 20px;
  }
}

.download__image {
  margin-top: 30px;
  border: 1px solid #aaaaaa;
  border-radius: 20px;
  overflow: hidden;

  @media (min-width: $breakpoint-md) {
    margin-top: 0;
    flex: 1;
  }

  @media (min-width: $breakpoint-lg) {
    margin-top: 0;
    flex: 1;
  }

  @media (min-width: $breakpoint-xl) {
    margin-top: 0;
    flex: 1;
  }
}