/* warranty */

@import '/scss/config/vars.scss';

.warranty {
  padding: 30px 15px;
}

.warranty__wrapper {

  @media (min-width: $breakpoint-md) {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    width: 690px;
    margin: 0 auto;
  }

  @media (min-width: $breakpoint-lg) {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    width: 930px;
    margin: 0 auto;
  }

  @media (min-width: $breakpoint-xl) {
    display: flex;
    flex-direction: row-reverse;
    gap: 110px;
    width: 1110px;
    margin: 0 auto;
  }
}

.warranty__text-block {

  @media (min-width: $breakpoint-md) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  @media (min-width: $breakpoint-lg) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  @media (min-width: $breakpoint-xl) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
}

.warranty__title {
  font-size: 25px;
  font-weight: 700;

  @media (min-width: $breakpoint-md) {
    font-size: 30px;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $breakpoint-xl) {
    font-size: 40px;
    line-height: 60px;
  }
}

.warranty__copy {
  margin-top: 10px;

  @media (min-width: $breakpoint-md) {
    font-size: 16px;
    line-height: 25px;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 18px;
    line-height: 25px;
  }

  @media (min-width: $breakpoint-xl) {
    padding-top: 15px;
    font-size: 20px;
    line-height: 30px;
  }
}

.warranty__copy:first-of-type {
  margin-top: 20px;
}

.warranty__image-block {
  margin-top: 30px;
  border: 1px solid #aaaa;
  border-radius: 20px;
  overflow: hidden;

  @media (min-width: $breakpoint-xl) {
    padding-left: 110px;
    flex: 1;
  }
}

.warranty__image {
  margin-top: 30px;
  border: 1px solid #aaaaaa;
  border-radius: 20px;
  overflow: hidden;

  @media (min-width: $breakpoint-md) {
    margin-top: 0;
    flex: 1;
  }

  @media (min-width: $breakpoint-lg) {
    margin-top: 0;
    flex: 1;
  }

  @media (min-width: $breakpoint-xl) {
    margin-top: 0;
    flex: 1;
  }
}
